@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 43, 50, 60; /* 濃い青灰色 */
    --background-middle-rgb: 25, 30, 35; /* より暗い青灰色 */
    --background-end-rgb: 15, 20, 25; /* ほぼ黒 */
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-middle-rgb)),
        rgb(var(--background-end-rgb))
      );
  }
}
